[submodule "extern/Sharpmake"]
	path = extern/Sharpmake
	url = https://github.com/ubisoft/Sharpmake.git
[submodule "tools/Sharpmake"]
	path = tools/Sharpmake
	url = https://github.com/ubisoft/Sharpmake.git
